# React Native
node_modules/
.gradle/
.gradle-user-home/
local.properties
*.iml
.idea/
.DS_Store
BUILD/
build/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# Android / IntelliJ
android/.cxx/
android/.gradle/
android/app/build/
android/build/
ios/build/

# CocoaPods
/ios/Pods/

# Metro
.metro-health-check*
